@media only screen and (min-width: 650px) {
  .side-by-side {
    display: flex;

    p:first-child {
      margin-top: 11px;
    }

    > * {
      width: 50%;
      display: flex;
      flex-direction: column;

      &.highlighter-rouge {
        flex: 1;
        font-size: 1.45rem;
      }

      &:last-child {
        margin-left: 2rem;
      }
    }
  }
}
