#slice, #slice input, code, pre {
  font-family: "Ubuntu Mono", Monaco, Consolas, monospace;
}

#slice {
  position: relative;
  color: #000;
  margin-top: 40px;
  overflow: scroll;
}

#array {
  padding: 4px;
  height: 50px;
  width: 600px;
}

#array div {
  background: #fff;
  border: 2px solid #ccc;
  width: 50px;
  height: 50px;
  padding: 10px 0;
  text-align: center;
  float: left;
  margin-right: 6px;
  box-sizing: border-box;
}

#sliceOverlay {
  border: 2px solid #000;
  position: absolute;
  top: 0;
  left: 0;
  height: 58px;
  box-sizing: border-box;
  display: none;
}

#error {
  color: red;
}

#slice p {
  clear: left;
  margin: 10px 0;
}

#slice input {
  font-size: 18px;
}